
# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


.pnp.*
venv
__pycache__

.idea/*.iml

build/
# Used for manual copy_files tests.
tmp/
server/file_uploads/

