html, body {
  min-height: 100%;
}

$color-bg: #2c2c38;
$color-bg-contrast: #4e4166; // Used firefox color contrast 7 tool to get these values.
$color-text: #e1e1e8;
$color-link: #a087d2;
$color-link-hover: #c8acff;
$color-link-contrast: #c8acff; // Used firefox color contrast 7 tool to get these values.

body {
  font-family: 'Arial', sans-serif;
  background-color: $color-bg;
  color: $color-text;
  min-height: 100dvh;
  margin: 0;
  // Display flex here to make sure children are 100% height as well
  // And it also automatically vertically centers the view item.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.container {
  width:100%;
  text-align: center;
}

.uploader {
  .container {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.upload-inputs {
  text-align: left;
}

#filename {
  width: 20rem;
}

#upload-btn {
  position: relative;
  font-size: 2.5rem;

  &.spinner {
    color: #0000;
  }
}

// Spinner source: https://stackoverflow.com/questions/64608661/add-loader-spinner-at-center-of-a-button
.spinner {
  &::after {
    border: 3px solid #008ad6;
    border-radius: 50%;
    border-top: 3px solid #f3f3f3;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    animation: ic2-spin 2s linear infinite;
    content: "";
  }
}

@keyframes ic2-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preview {
  margin-top: 1rem;

  width: 400px;
  height: 400px;
  object-fit: contain;
  // For that centering of video and img!
  text-align: center;

  video, img {
    max-width: 100%;
    max-height: 100%;
  }
}

#viewer {
  // Removes white space below the item.
  line-height: 0;
}

#view-item {
  display: inline-block;
  // Yes item is slightly off center if no scrollbar but that's ok, no one will know!
  // And if they do, can fix it then!
  padding: 0.5rem;

  img, video {
    user-select: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-action {
  cursor: pointer;
  color: $color-link;
  font-weight: bold;
  transition: opacity 0.3s ease-in;

  &:hover {
    color: $color-link-hover;
  }
}

.settings {
  stroke: $color-link;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    stroke: $color-link-hover;
  }
}

.history-disabled {
  opacity: 0;
  cursor: default;
  user-select: none;
  color: #5c5675;
  font-weight: normal;
}

$dialog-animation-type: 0.15s ease-in;
$dialog-animation: fadein $dialog-animation-type forwards;
.dialog-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity $dialog-animation-type;

  &.open {
    pointer-events: all;
    opacity: 1;
  }
}

.dialog {
  // <dialog> element behaves odd that left: 0; is the center of the page.
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  max-height: 75dvh;
  max-width: 95dvw;
  z-index: 10;

  color: $color-text;
  background-color: $color-bg;

  &[open] {
    animation: $dialog-animation;
  }
}

.history-dialog-content {
  max-height: 100%;
  overflow-y: auto;
}

.history-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.history-item  {
  display: grid;
  grid-template-columns: 64px auto 36px 128px 128px;
  grid-gap: 0.5rem;
  align-items: center;

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .url {
    color: $color-link;
    text-align: left;

    a {
      color: $color-link;
      &:visited {
        color: $color-link;
      }

      &:hover {
        color: hsl(260, 45%, 58%);
      }
    }
  }

  .link-copy-btn {
    background-color: $color-bg;
    color: $color-text;
  }
}

.settings-list {
  display: flex;
  flex-direction: row;
}

.settings-row {
  display: flex;
}

@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.drag {
    .drag-drop-area {
      opacity: 1;
      pointer-events: all;
    }
  }

.drag-drop-area {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in;
  background-color: #62508f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

#link-share {
  margin-top: 1rem;
}

.link-container {
  display: flex;
  background-color: $color-text;
  color: $color-bg;
  border-radius: 5px;
}

.link-text {
  padding: 0 0.5rem;
  display: inline-flex;
  align-items: center;

  color: $color-bg;
  &:visited {
    color: $color-bg;
  }

  &:hover {
    color: $color-bg-contrast;
  }
}

.link-copy-btn {
  font-size: 2em;
  background-color: $color-text;
  color: $color-bg;
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid $color-bg;

  transition: background-color 0.5s ease-in;

  &:active {
    background-color: hsl(240, 13%, 70%);
  }
}
