$preview-size: 400px;

@use 'css/core' as *;
@use 'css/common';
@use 'css/uploader';

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100%;
}

.error {
  color: $color-error;
}

:root {
  --color-bg: #{$color-bg};
  --color-bg-contrast: #{$color-bg-contrast};
  --color-text: #{$color-text};
  --color-text-disabled: #{$color-text-disabled};
  --color-text-faded: #{$color-text-faded};
  --color-link: #{$color-link};
  --color-link-hover: #{$color-link-hover};
  --color-link-contrast: #{$color-link-contrast};
  --color-link-disabled: #{$color-link-disabled};
  --color-link-disabled-bg: #{$color-link-disabled-bg};
}

body {
  font-family: 'Arial', sans-serif;

  //background-color: $color-bg;
  color: $color-text;
  min-height: 100dvh;
  margin: 0;
  // Display flex here to make sure children are 100% height as well
  // And it also automatically vertically centers the view item.
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.viewer-root {
  background-color: var(--color-bg);
}

body.uploader-root {
  background: url('../bg.60.webp') no-repeat;
  background-size: cover;
}

.container {
  width:100%;
  text-align: center;
}


#viewer {
  // Removes white space below the item.
  line-height: 0;
}

#view-item {
  display: inline-block;
  // Yes, item is slightly off center if no scrollbar but that's ok, no one will know!
  // And if they do, can fix it then!
  padding: 0.5rem;
  transition: transform 100ms ease-in-out;

  img, video {
    user-select: none;
  }
}

.view-item-container {
  position: relative;
  display: inline-block;
}

$dialog-animation-type: 0.15s ease-in;
$dialog-animation: fadein $dialog-animation-type forwards;
.dialog-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity $dialog-animation-type;

  &.open {
    pointer-events: all;
    opacity: 1;
  }
}

.dialog {
  // <dialog> element behaves odd that left: 0; is the center of the page.
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  max-height: 75dvh;
  max-width: 95dvw;
  z-index: 10;
  // Restore margin that was removed from * { margin: 0; } or dialog will be left aligned.
  margin: 0 auto;

  color: $color-text;
  background-color: $color-bg;

  &[open] {
    animation: $dialog-animation;
  }
}

.url {
    color: $color-link;
    text-align: left;

    a {
      color: $color-link;
      &:visited {
        color: $color-link;
      }

      &:hover {
        color: hsl(260, 45%, 58%);
      }
    }
  }



@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.drag {
    .drag-drop-area {
      opacity: 1;
      pointer-events: all;
    }
  }

.drag-drop-area {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in;
  background-color: #62508f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

#link-share {
  margin-top: 1rem;
}

.link-container {
  display: flex;
  background-color: $color-text;
  color: $color-bg;
  border-radius: 5px;
  padding: 0.75rem 0;
}

.link-text {
  padding: 0 0.5rem;
  display: inline-flex;
  align-items: center;

  color: $color-bg;
  &:visited {
    color: $color-bg;
  }

  &:hover {
    color: $color-bg-contrast;
  }
}

.link-copy-btn {
  font-size: 2em;
  background-color: $color-text;
  color: $color-bg;
  display: inline-block;
  padding: 0 10px 0 0;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid $color-bg;

  transition: background-color 0.5s ease-in;

  &:active {
    background-color: hsl(240, 13%, 70%);
  }
}

.icon-action {
  padding: 8px 12px;
  cursor: pointer;
  color: $color-link;
}


